
@{
    ViewBag.Title = "Bevestiging";
    Layout = "_Layout";
}

<h2>Bedankt voor je bestelling!</h2>
<p>De betaling is goed ontvangen.</p>
<p>Uw bestelling wordt zo snel mogelijk klaargemaakt.</p>

<form method="post">
    <button asp-action="LeegWinkelmandje" class="btn btn-primary mt-5">Nieuwe bestelling</button>
</form>