@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij Vives FrietShop!</h1>
</div>

<div class="row mt-5 align-items-center text-center">
<div class="col">
    <h4>Maak jouw bestelling:</h4>
</div>

<div class="col">
    <h4>Winkelmandje</h4>
</div>
</div>