# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Vives FrietShop.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Vives\Projecten Rider - WebDev\Vives FrietShop\.idea\.idea.Vives FrietShop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
